/* consider having mltpl stylesheets for each page of site */

/* this class sets the position for the text content on page */
header{
background:url(https://i.pinimg.com/564x/63/33/60/633360582af27d601bef353c9aba06b3.jpg);
}

body{
  background:url(https://i.pinimg.com/564x/63/33/60/633360582af27d601bef353c9aba06b3.jpg);    
}/*set vh for diff components on page*/

.enlightenedElement{
  opacity:0.5;
}